.Footer {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  font-size: var(--font-ln);
  border-top: 1px solid rgba(244, 240, 240, 0.2);
  scroll-snap-align: center;
}

.company {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 0 20%;
  border-bottom: 1px solid var(--font-color);
}

.company__social-media {
  display: flex;
  gap: 10px;
}

.company .social-media {
  opacity: 0.7;
}

.company .social-media:hover {
  opacity: 1;
}

.Footer__nav-bar {
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
}

.Footer__nav-bar .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list__name {
  font-size: var(--font-md);
  font-weight: 300;
  padding-bottom: 14px;
  cursor: pointer;
}
.list__name a {
  color: var(--font-color);
  text-decoration: none;
}
.list__name:hover {
  text-decoration: underline;
}

.list__text {
  text-decoration: none;
  color: var(--font-color);
  font-size: var(--font-sm);
  opacity: 0.7;
}

.list__text:hover {
  opacity: 1;
  text-decoration: underline;
}

.message {
  height: 20%;
  font-size: var(--font-sm);
  font-weight: 100;
  padding: 0 20px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message a {
  color: var(--font-color);
}