
/*----------------COMMON---------------*/

.section {
  height: 100vh;
  scroll-margin-top: 12vh;
  position: relative;
}

/*----------------BANNER0--------------*/

.Projects .banner {
  display: flex;
  align-content: center;
}

.banner__item {
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--background);
  text-decoration: none;
}

.Projects .banner__text {
  font-size: 3rem;
  font-weight: bolder;
}

.banner .lux {
  background-image: url('@images/lux.webp');
  clip-path: polygon(200% 0, 0 0, 0 100%);
  z-index: 1;
  border-bottom: 1px solid var(--background);
}

.banner .goldenMountain {
  background-image: url('@images/goldenMountain.webp');
  top: 25%;
  z-index: 0;
}
.banner .lion {
  background-image: url('@images/lion.webp');
  clip-path: polygon(200% 100%, 0 0, 0 100%);
  top: 50%;
  z-index: 1;
}

.banner__border {
  width: 100%;
  height: 25%;
  position: absolute;
  background-color: var(--background);
  z-index: 2;
}

.banner__border:nth-child(1) {
  top: 25%;
  clip-path: polygon(0 97%, 100% 0, 100% 3%, 0 100%);
}

.banner__border:nth-child(2) {
  top: 50%;
  clip-path: polygon(0 0, 100% 97%, 100% 100%, 0 3%);
}

/*-----------------RESPONSIVE--------------*/

@media (min-width: 768px) {
  .Projects .banner {
    width: 100%;
  }

  .banner__item {
    width: 50%;
    height: 100%;
  }

  .banner__item:hover {
    background-size: 160%;
  }
  .banner .lux {
    clip-path: polygon(0 0, 50% 0, 100% 100%,0 100%);
  }
  .banner .goldenMountain {
    top: 0;
    left: 25%;
  }
  .banner .lion {
    top: 0;
    left: 50%;
    clip-path: polygon(0 100%, 50% 0, 100% 0%,100% 100%);
  }

  .goldenMountain .banner__text {
    padding: 0 30%;
  }

  .banner__border {
    width: 25%;
    height: 100%;
  }
  .banner__border:nth-child(1) {
    top: 0;
    left: 25.1%;
    clip-path: polygon(97% 100%, 0% 00%, 3% 0%, 100% 100%);
  }
  .banner__border:nth-child(2) {
    top: 0;
    left: 50%;
    clip-path: polygon(3% 100%, 0% 100%, 100% -3%, 100% 00%);
  }
}

@media (min-width: 1020px) {
  .banner__item:hover {
    background-size: 110%;
  }
}