.ProjectSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.details {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
}

.details__name {
  font-size: var(--font-eln);
}

.details__list {
  width: 100%;
  font-size: var(--font-sm);
  display: flex;
  justify-content: space-around;
}

.details__column {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.ProjectSection__image {
  width: 100%;
  height: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ProjectSection__image img {
  width: 100%;
}
.button-container {
  position: absolute;
}

.ProjectSection__plans {
  width: 100%;
  height: 30%;
  filter: invert(80%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectSection__plans img {
  height: 90%;
}

/*-----------------RESPONSIVE---------------*/

@media (min-width: 768px) {
  .details {
    height: 45%;
    width: 50%;
    order: 3;
  }
  
  .ProjectSection__image {
    height: 55%;
    width: 100%;
    order: 1;
  }
  .ProjectSection__image img {
    width: 100%;
    height: auto;
  }

  .ProjectSection__plans {
    height: 45%;
    width: 50%;
    order: 2;
  }
}