.WorkWithUs {
  display: flex;
  flex-wrap: wrap;
}

.WorkWithUs .banner {
  width: 100%;
  height: 40vh;
  background-image: url('@images/hand-shake.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.WorkWithUs .banner__title {
  font-size: var(--font-ln);
  color: var(--background);
  color: var(--font-color-hover);
}

.banner__buttons {
  display: flex;
  gap: 28px;
}
.WorkWithUs .button {
  width: 120px;
}

/*-------------FORM-1-----------*/

.forms {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.work-form {
  width: 100%;
  max-width: 420px;
  height: 80%;
  border: 1px solid var(--font-color);
  border-radius: 10px;
  color: var(--font-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 22px 28px 28px;
  font-size: var(--font-sm);
}

.work-form__title {
  width: 100%;
}

.work-form__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.work-form__input {
  width: 84%;
  height: 28px;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-radius: 6px;
  padding: 0 8px;
}

.work-form__button {
  width: 90px;
  height: 34px;
  background-color: transparent;
  font-size: var(--font-sm);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  border-radius: 6px;
}

.work-form__button:hover {
  border: none;
  background-color: var(--font-color);
  color: var(--background);
}

/*-------------RESPONSIVE-----------*/
@media (min-width: 1008px) {
  .WorkWithUs .banner {
    width: 50%;
    height: 100vh;
  }
  .forms {
    width: 50%;
    height: 100vh;
    padding-top: 260px;
  }
  .forms .form {
    width: 70%;
  }
  .work-form {
    height: 60%;
  }
}