---
import Layout from '../layouts/Common.astro';

import regular1 from '../assets/images/regular1.png'
import regular2 from '../assets/images/regular2.png'
import regular3 from '../assets/images/regular3.svg'
import { Image } from 'astro:assets';
---
<Layout>
	<section class="info">
		<ul>
			<li>
				<p id='buildings' class="info__number"></p>
				<p>Buildings</p>
			</li>
			<li>
				<p id='apartments' class="info__number"></p>
				<p>Apartments</p>
			</li>
			<li>
				<p id='cities' class="info__number"></p>
				<p>Cities</p>
			</li>
		</ul>
	</section>

	<section class="company">
		<div class="cta">
			<div class="logo">
				<span/> 
				<h2>AURA</h2>
			</div>
			<p class="years">16</p>
			<p>Years of experience</p>
			
			<a href='/contact'>
				<button class="primary-button">Work with us</button>
			</a>
		</div>
		<div class="history">
			<h2>About AURA</h2>
			<p>
				Founded 16 years ago by a visionary individual with a passion for real estate, our successful company has a rich history rooted in personal connections and a commitment to excellence. What began as a humble venture, with the founder initially selling homes for relatives and friends, has blossomed into a thriving real estate enterprise.
			</p>

			<p>
				In the early days, the company operated on the principles of trust, integrity, and personalized service. As the founder diligently helped acquaintances navigate the real estate market, word-of-mouth referrals and satisfied clients became the cornerstone of our growth. The commitment to understanding clients' needs, coupled with a genuine interest in their success, quickly set the company apart in the competitive industry.
			</p>
			<p>
				Today, with a stellar reputation built on a foundation of strong relationships and successful transactions, our real estate company stands as a testament to the enduring power of personalized service and a commitment to the highest standards in the industry. Looking ahead, we remain dedicated to shaping the future of real estate while cherishing the values that fueled our remarkable journey over the past 16 years.
			</p>
		</div>
	</section>

	<section class="regular">
		<h2>Certified By</h2>

		<ul>
			<li>
				<Image alt="Regulatory Entity" src={regular1} height={80} />
			</li>
			<li>
				<Image alt="Regulatory Entity" src={regular2} height={80} />
			</li>
			<li>
				<Image alt="Regulatory Entity" src={regular3} height={80} />
			</li>
		</ul>
	</section>
</Layout>
<style>
	.info {
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.info ul {
		width: 80%;
		height: 70%;
		border-radius: 1em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.4);
		color: var(--font-color);
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		list-style: none;
	}
	.info::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../assets/images/city.webp');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		content: "";
		filter: saturate(50%);
		z-index: -1;
	}
	.info__number {
		font-size: 4rem;
	}
	#apartments::before {
		content: '+';

	}
	.company {
		color: var(--font-color);
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 1fr;
		grid-template-areas: 'text cta';
		place-items: center;
	}
	.company .cta {
		height: fit-content;
		grid-area: cta;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: 600;
	}
	.cta .logo { 
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	.cta .logo span {
		height: 80px;
		display: block;
		background-image: url('../assets/icons/logo.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.cta .years {
		padding-top: 0.5em;
		font-size: 3rem;
	}
	.cta p {
		font-size: 2rem;
		text-wrap: balance;
	}
	.cta .primary-button {
		margin-top: 2em;
		padding: 0.7em 2em;
	}
	.history {
		padding-inline-start: 3em;
		display: flex;
		flex-direction: column;
		gap: 1em;
		font-size: 1.15rem;
	}
	.regular {
		margin-block: 8em;
	}
	.regular h2 {
		color: var(--font-color);
		text-align: center;
		margin-bottom: 2em;
	}
	.regular ul {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5em;
	}
</style>
<script>
	function animateValue(obj: HTMLElement, start: number, end: number, duration: number) {
		let startTimestamp: number | null = null
		const step = (timestamp: number) => {
			if (!startTimestamp) startTimestamp = timestamp
			const progress = Math.min((timestamp - startTimestamp) / duration, 1)
			obj.innerHTML = `${Math.floor(progress * (end - start) + start)}`
			if (progress < 1) {
				window.requestAnimationFrame(step)
			}
		}
		window.requestAnimationFrame(step)
	}

	const buildings = document.getElementById("buildings") as HTMLElement
	const apartments = document.getElementById("apartments") as HTMLElement
	const cities = document.getElementById("cities") as HTMLElement
	animateValue(buildings, 0, 22, 1000)
	animateValue(apartments, 0, 500, 1000)
	animateValue(cities, 0, 14, 1000)
</script>