* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


:root {
  --background: #06070c;
  --font-color: rgba(245, 245, 247, 0.7);
  --font-color-hover: rgba(245, 245, 247, 1);
  --gradient-vertical: linear-gradient(rgba(6,7,12,0), rgba(6,7,12,0.6), rgba(6,7,12,1), rgba(6,7,12,1), rgba(6,7,12,1), rgba(6,7,12,1), rgba(6,7,12,1), rgba(6,7,12,1), rgba(6,7,12,1));
  --gradient-horizontal: linear-gradient(to left,rgba(6,7,12,0), rgba(6,7,12,0.5), rgba(6,7,12,0.7), rgba(6,7,12,0.9), rgba(6,7,12,1), rgba(6,7,12,1), rgba(6,7,12,1), rgba(6,7,12,1), rgba(6,7,12,1));
  --font-eln: 2.6rem;
  --font-ln: 2.2rem;
  --font-md: 1.8rem;
  --font-sm: 1.4rem;
}

.Page {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: var(--background);
  color: var(--font-color);
  text-align: center;
  scroll-behavior: smooth;
}

.primary-button {
  width: 120px;
  height: 34px;
  border: 1px solid var(--font-color);
  border-radius: 8px;
  color: var(--font-color);
  background-color: transparent;
}
.primary-button:hover {
  background-color: var(--font-color);
  color: var(--background);
}