.HomeLoans .banner {
  height: 100vh;
  scroll-margin-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background);
  background-image: url('@images/loans-banner.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: var(--font-ln);
}

/*------------PARTNERS_CONPARISON---------*/

.partners-comparison {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-sm);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
}
.title__item {
  width: 100%;
  height: 68px;
  border-top: 1px solid var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}
.title__head-space {
  height: 120px;
  border-top: none;
}

/*--------------CONTACT--------------*/

.loan-contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 260px;
  align-items: center;
  font-size: var(--font-md);
  position: relative;
}


/*------------RESPONSIVE-------------*/

@media (min-width: 768px) {
  .partners-comparison {
    flex-direction: column;
  }
  .title {
    flex-direction: row;
    width: 90%;
  }
  .title__item {
    border-top: none;
    border-left: 1px solid var(--font-color);
    height: 120px;
  }
  .title__head-space {
    border-left: none;
  }
}